.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    align-items: center;
}

.form-control {
    margin: 1rem 1rem;
}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
}

.form-control input{
    border: 1px solid #150324;
    font: inherit;
    border-radius: 2px;
}

button {
    font: inherit;
    border: 1px solid #dbc441;
    color: #0b333f;
    background: #eaeee5;
    border-radius: 3px;
    cursor: pointer;
}